.learning-stats tbody tr th:not(:first-of-type) {
  text-align: right !important;
}

.learning-stats tbody tr th:first-of-type {
  text-align: left !important;
}

.learning-stats .sum-divider {
  border-top: 1px solid var(--table-border-color);
}
